In [1]:
import numpy as np
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel("2021SOTI_SurveyDataForPublic_COPY.xlsx", sheet_name="data_repub_2019",header=2)

In [3]:
print(df["refID"].describe())
df["PayAnnual"].describe()

count    1357.000000
mean      680.092852
std       392.031734
min         1.000000
25%       341.000000
50%       680.000000
75%      1019.000000
max      1359.000000
Name: refID, dtype: float64

count            1308
unique             11
top       $60k - $80k
freq              232
Name: PayAnnual, dtype: object

In [4]:
print(df.columns)
df1 = df[["refID","PayAnnual","RoleMultichoice","Freelance","YearsDVExperience","EducLevel","Gender_","Loc1Country__cleaned"]]

Index(['refID', 'EducDV', 'TopMethodsDVEduc_', 'TopDVSkillsToImprove',
       'JobTitle__', 'Freelance', 'DVCentralityInWork', 'DVCentralityAsHired',
       'DVCompareExpected', 'RoleMultichoice', 'PayAnnual', 'PayHourly',
       'OrgDVWhy_', 'OrgDVWhere1', 'OrgDVHow_', 'DVOrgLeadership',
       'OrgDVWhere2_', 'TimeProducingViz', 'TimeDataEngineering',
       'TimeDataScience', 'TimeDesign', 'TimeDataPrep', 'TimePortfolio',
       'ToolsForDV_', 'ToolsChoice', 'DVSharingChannels_', 'ChartsUsed_',
       'Audience_', 'AudienceDataFamiliarity_', 'AudienceDVUseFreq',
       'AudienceDVUsePurpose_', 'StakeholderRelationship', 'ResourcesAdequate',
       'TopFrustrationsDV__', 'OneChangeDV__', 'DVNotUnderstood__',
       'ResourcesNotAdequate', 'WantEfficiencyAids', 'LimitedSkills',
       'OneChangeJobDV__', 'CommunitySupportWanted__', 'DVGoTos__',
       'DVFuturePreference', 'YearsDVExperience', 'EducLevel', 'OrgSector',
       'EducUndergradMajor__', 'Gender_', 'LGBTQ', 'Loc3CityEtc__',
       'Loc1Country__cleaned', 'Loc1Country__categorized', 'HumanLanguages__'],
      dtype='object')

In [5]:
df1["Gender_"] = df1["Gender_"].replace(["Prefer not to say","Non-binary","Woman, Non-binary","Genderqueer","Man, Non-binary","Trans","Woman, Prefer not to say",np.NAN],"Other")
df1["Gender_"].value_counts()
#Changing all Non-Binary to "Other"

C:\Users\David\AppData\Local\Temp\ipykernel_5492\3618226603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Gender_"] = df1["Gender_"].replace(["Prefer not to say","Non-binary","Woman, Non-binary","Genderqueer","Man, Non-binary","Trans","Woman, Prefer not to say",np.NAN],"Other")

Man      858
Woman    434
Other     65
Name: Gender_, dtype: int64

In [6]:
df1["PayAnnual"].value_counts()
#Ordering Categories of PayAnnual
df1["PayAnnual"] = pd.Categorical(df1["PayAnnual"],categories=["Less than $20,000","$20k - $40k","$40k - $60k","$60k - $80k","$80k - $100k","$100k - $120k","$120k - $140k","$140k - $160k","$160k - $180k","$180k - $200k","$200k+"],ordered=True)
df1.dtypes

C:\Users\David\AppData\Local\Temp\ipykernel_5492\318490814.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["PayAnnual"] = pd.Categorical(df1["PayAnnual"],categories=["Less than $20,000","$20k - $40k","$40k - $60k","$60k - $80k","$80k - $100k","$100k - $120k","$120k - $140k","$140k - $160k","$160k - $180k","$180k - $200k","$200k+"],ordered=True)

refID                      int64
PayAnnual               category
RoleMultichoice           object
Freelance                 object
YearsDVExperience        float64
EducLevel                 object
Gender_                   object
Loc1Country__cleaned      object
dtype: object

In [7]:
#Change Role to Categorical and Freelance, Fill Freelance
df1["RoleMultichoice"] = pd.Categorical(df1["RoleMultichoice"],df1["RoleMultichoice"].unique())
df1["Freelance"].fillna("Unclear", inplace=True)
df1["Freelance"] = pd.Categorical(df1["Freelance"],df1["Freelance"].unique())
df1.dtypes

C:\Users\David\AppData\Local\Temp\ipykernel_5492\4124676843.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["RoleMultichoice"] = pd.Categorical(df1["RoleMultichoice"],df1["RoleMultichoice"].unique())
C:\Users\David\AppData\Local\Temp\ipykernel_5492\4124676843.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Freelance"].fillna("Unclear", inplace=True)
C:\Users\David\AppData\Local\Temp\ipykernel_5492\4124676843.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Freelance"] = pd.Categorical(df1["Freelance"],df1["Freelance"].unique())

refID                      int64
PayAnnual               category
RoleMultichoice         category
Freelance               category
YearsDVExperience        float64
EducLevel                 object
Gender_                   object
Loc1Country__cleaned      object
dtype: object

In [8]:
#Fill Nulls in EducLevel with None, Categorical ordered
df1["EducLevel"].fillna("None", inplace=True)
#If contains EducLevel contains "phd" or "doctorate" or "ABD" Assume phd level
#If contains "masters" or "ms" but NOT "phd' assume "Masters"
#If contains AAS or Associates, or some, assume "Some Degree"
#If contains "High School" assume "No Degree"
#else, "Other"
def educFilter(text:str):
    lowerText = text.lower()
    if any(substring in lowerText for substring in ["phd","doctorate","abd"]):
        return "PhD"
    if any(substring in lowerText for substring in ['masters','ms']):
        return "Masters"
    if any(substring in lowerText for substring in ['ba','bachelor']):
        return "bachelor"
    if any(substring in lowerText for substring in ["associates","some"]):
        return "Some College"
    if any(substring in lowerText for substring in ['high school','no degree']):
        return "None"
    if "technical school" in lowerText:
        return "Technical School"
    return "Other"

df1["EducLevel"]=df1["EducLevel"].apply(lambda x: educFilter(x))
df1["EducLevel"] = df1["EducLevel"].replace(["Technical School","Some College","None"],"Other")
df1["EducLevel"].value_counts()

C:\Users\David\AppData\Local\Temp\ipykernel_5492\3932696603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["EducLevel"].fillna("None", inplace=True)
C:\Users\David\AppData\Local\Temp\ipykernel_5492\3932696603.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["EducLevel"]=df1["EducLevel"].apply(lambda x: educFilter(x))
C:\Users\David\AppData\Local\Temp\ipykernel_5492\3932696603.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["EducLevel"] = df1["EducLevel"].replace(["Technical School","Some College","None"],"Other")

Masters     576
bachelor    438
PhD         239
Other       104
Name: EducLevel, dtype: int64

In [9]:
df1.dropna(how="any", subset="PayAnnual", inplace=True)
df1

C:\Users\David\AppData\Local\Temp\ipykernel_5492\3050780575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(how="any", subset="PayAnnual", inplace=True)

,refID,PayAnnual,RoleMultichoice,Freelance,YearsDVExperience,EducLevel,Gender_,Loc1Country__cleaned
0,1,$40k - $60k,Academic,No,2.0,Masters,Other,United States
1,2,"Less than $20,000","Leadership (Manager, Director, VP, etc)",No,6.0,bachelor,Man,Tanzania
2,3,$120k - $140k,"Leadership (Manager, Director, VP, etc)",No,7.0,Masters,Man,United States
3,4,$100k - $120k,"Leadership (Manager, Director, VP, etc)",Yes,5.0,bachelor,Man,United States
4,6,$80k - $100k,Developer,Occasional,NaN,Other,Man,United States
...,...,...,...,...,...,...,...,...
1351,1354,$60k - $80k,Developer,Yes,7.0,Masters,Other,United Kingdom
1352,1355,$60k - $80k,Student,Yes,2.0,PhD,Other,Mexico
1353,1356,$40k - $60k,Academic,Yes,8.0,PhD,Other,NaN
1354,1357,$60k - $80k,"Leadership (Manager, Director, VP, etc)",Yes,4.0,Masters,Other,United States
1356,1359,$20k - $40k,Engineer,Yes,NaN,Other,Other,NaN

In [10]:
df1.to_csv("DataDraft1.csv")